/* 
************************************************************
CSS Document Author: RajibGanguly Dated: 22nd Oct 2013
Client: Advantexe
0.1 Loginpage
0.2 SignInpage
0.3 Footer Page
0.4 Dashboard Page
1.0 Modification kendo
************************************************************
*/
body {
	padding: 0;
	margin: 0;
	min-height:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
}
ul, ul li {
	padding:0;
	margin:0;
	list-style-type:none;
}
h4 {
	font-size:1.1em;
}
a {
	color:#505d5f;
}
.navbar-default {
	border-bottom: 1px solid #ccc;
	height:60px;
}
/* 0.1 Loginpage */
.container {
	background: rgba(242, 242, 242, 0.6) url(../images/login_img_bg.png) no-repeat center 0;
	margin: 0;
	min-height: 768px;
	padding: 0;
}
#content-login {
	position:relative;
	width:90%;
	margin:0 auto;
}
.loginbox {
	background:url("../images/login_img_bg.png") no-repeat 0 -37px;
	width: 420px;
	padding: 20px 0;
	position: relative;
	margin: 60px auto 0 auto;
	border-radius: 6px;
	border: 1px solid #fff;
	box-shadow: 1px 1px 10px #bbb inset;
}
.navbar-header {
	width: 97%;
	margin: 0 auto;
}
.specialdivlogin {
	margin: 0 auto;
	width: 100%;
	float: left;
}
.loginbox .k-textbox {
	width:100%;
	margin:5px 0;
	padding: 6px 5px;
	height:3em;
}
.loginbox .k-button {
	display: inline-block;
	width:100%;
	margin:5px 0;
	padding: 6px 7px 6px;
	font-weight:bold;
}
.loginbox .input-group, .loginbox .btn-group {
	margin:6px 0;
	width:100%;
}
.loginbox .btn-group button {
	width:100%;
}
.links_forgot {
	text-align:center;
}
.links_forgot a {
	padding:0 5px;
	border-right:1px solid #000;
}
.links_forgot a:last-child {
	padding:0 5px;
	border-right:none;
}
/* 0.2 SignInpage */

.signinbox {
	background: #ccc url("../images/login_img_bg.png") no-repeat center center;
	width: 420px;
	padding: 20px 0;
	position: relative;
	margin: 60px auto 0 auto;
	border-radius: 6px;
	border: 1px solid #fff;
	box-shadow: 1px 1px 10px #bbb inset;
}
.signinbox .k-textbox {
	width:100%;
	margin:5px 0;
	padding: 6px 5px;
	height:3em;
}
.signinbox .k-button {
	display: inline-block;
	width:100%;
	margin:5px 0;
	padding: 6px 7px 6px;
	font-weight:bold;
}
.signinbox .input-group, .signinbox .btn-group {
	margin:6px 0;
	width:100%;
}
.signinbox .btn-group button {
	width:100%;
}


/* 0.3 Footer Page */
.footer {
	background: #333;
	width: 98%;
	position: relative;
	padding: .5% 1%;
	color: #fff;
}


/* 0.4 Dashboard Page */
#vertical {
	height: 766px;
	width: 100%;
	margin: 0 auto;
}
   
.pane-content {
	padding: 0 10px;
}
.k-splitbar {
	background:none;
	border-right:none;
}
#organizer {
	width: 300px;
	margin: 0 auto;
	padding: 47px 0 0 0;
	background: url('../content/panelbar/orgHead.png') transparent no-repeat 0 0;
}
#bottom {
	width: 300px;
	height: 90px;
	background: url('../content/panelbar/orgFoot.png') transparent no-repeat 0 0;
}
.teamMate:after {
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}
.teamMate h2 {
	font-size: 1.4em;
	font-weight: normal;
	padding-top: 20px;
}
.teamMate p {
	margin: 5px 0;
}
.teamMate img {
	float: left;
	margin: 5px 15px 5px 5px;
	border: 1px solid #ccc;
}
.video_placeholder {
	background:#000;
	width:100%
	min-height:200px;
}
.video_placeholder video {
	margin:0 auto;
	width:auto;
}
.rightcont_header {
	display:block;
}
.rightcont_header h3 {
	padding:11px 12px;
	font-size:1.5em;
	font-weight:normal;
	color:#af2218;
	margin:0;
}
#left-pane {width:250px;}


/* 1.0 Modification kendo */
.k-button {
	background-color: #161616;
	background-image: none, linear-gradient(to bottom, #161616 0, #000 100%);
	border-color: #333;
	color: #f2f2f2;
}
#dashboard #signinbox {
	display:none;
}
#dashboard #horizontal {border:none;}
#dashboard .k-splitbar-horizontal .k-collapse-prev, #dashboard .k-splitbar-horizontal .k-expand-next {
	background: #e14502 url('Default/sprite.png') -73px 0 no-repeat;
	top: 44px;
	left: -19px;
}
#dashboard .k-splitbar-horizontal .k-collapse-next, #dashboard .k-splitbar-horizontal .k-expand-prev {
	background: #e14502 url('Default/sprite.png') -88px 0 no-repeat;
	top: 24px;
	left: 0;
}
#dashboard .k-splitbar-horizontal .k-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	z-index:999;
}
#dashboard .k-splitbar .k-icon {
	border: 1px solid #f0713a;
}
